---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: -app-name-
  name: -app-name-
  namespace: -name-space-
spec:
  minReadySeconds: 120
  progressDeadlineSeconds: 600
  replicas: -repli-cas-
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: -app-name-
  # strategy:
  #   rollingUpdate:
  #     maxSurge: 25%
  #     maxUnavailable: 25%
  #   type: RollingUpdate
  template:
    metadata:
      labels:
        app: -app-name-
    spec:
      containers:
      - image: -image-path-
        imagePullPolicy: IfNotPresent
        name: -app-name-
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: -app-name-
  name: -service-name-
  namespace: -name-space-
spec:
  clusterIP: -cluster-ip-
  externalTrafficPolicy: Cluster
  ports:
  - port: -service-port-
    protocol: -proto-col-
    targetPort: -service-port-
  selector:
    app: -app-name-
  sessionAffinity: None
  type: NodePort