---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: wncp-fronend
  name: wncp-fronend
  namespace: wncp-test-1
spec:
  minReadySeconds: 120
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: wncp-fronend
  # strategy:
  #   rollingUpdate:
  #     maxSurge: 25%
  #     maxUnavailable: 25%
  #   type: RollingUpdate
  template:
    metadata:
      labels:
        app: wncp-fronend
    spec:
      containers:
      - image: gcr.io/wn-cloud-275704/cloud-portal-frontend@sha256:a43821b760dbb883e089f55c12b2a5553f4017bc812f733a1403452402026134
        imagePullPolicy: IfNotPresent
        name: wncp-fronend
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: wncp-fronend
  name:  wncp-fronend-service
  namespace: wncp-test-1
spec:
  clusterIP: 10.0.1.1
  externalTrafficPolicy: Cluster
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: wncp-fronend
  sessionAffinity: None
  type: NodePort
